@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
.card-item{
    width: 300px;
    height:150px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #abd3ec, #80a4bf, #577793, #304d69, #082742);
    border: 10px solid transparent;
    border-radius:10px; 
}
.card-item > span {
    margin: 5px 10px;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    color: rgb(4, 4, 51);
}
.item-list{
    position:absolute;
    top: 10%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.contain{
    position: absolute;
    top: 50%;
    width: 100%;
}
table{
    margin: auto;
    width: 60%;
    border-collapse: collapse;
}
tr,td{
    padding: 40px 0px;
    border: 1px solid black;
}
.tool{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin:auto;
}
.utility{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 10px auto;

}
.tool>button{
    width: 10%;
    height: 30px;
    margin: 10px 0px;
}